/* Home */

.introcontainer{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
}

.startcontainer{
  opacity: 70%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.vd{
  object-fit: cover;
  width: 100vw;
  height: 100%;
}

.home{
  background-color: black;
  overflow: hidden; 
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  image-rendering: auto;
  position: relative;
}

.title{

position: relative;
color: #f6752a;
line-height: 1.6em;
overflow: hidden;
font-size: 40px;
}

.button{
  position: relative;
  border: solid 2px;
  border-color: #f6752a;
  padding: 5px 20px;	
  transition: all 0.5s;
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: #f6752a
  }

.button:hover{
cursor: pointer;
border-color: black;
color:black;
background-color: #f6752a;

}

.btn{
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 5px 20px;	
  transition: all 0.5s;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  color: black
  
}

.btn:hover{
  cursor: pointer;
  border-color: black;
  color:black;
  background-color: #f6752a;
  
  }
  

.gate{
  font-size: 40px;
  color: #f6752a;
}

.circle{
  opacity: 80%;;
  display: flex;
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.extra{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Showcase */

.showcase{
    height: 55vh;
    background-color: var(--primary-color); 
    color: white;
    position: relative;

}

.showcase h1{
    font-size: 40px;
    text-align: inherit;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    color: black;
    padding: 20px;
    margin: 10px;
}

.showcase-form{
    height: 350px;
    width: 100%;
    padding: 40px;
    z-index: 100;
}

.showcase-form .form{
    margin: 30px 0;
}
.showcase-form input:focus{
    outline: none;
}
.showcase-form input[type='text'],
.showcase-form input[type ='email']{
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 3px;
    font-size: 16px;

}

/* Util */

.containermain{
    background-color: black;
    justify-content: center;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;

}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.container1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-container {
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom: 24px; */
    padding: 44px;
    color: #fff;
    font-size: 24px;
    gap: 30px;
  }

  .footer_subscription_box {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .sub_btn{
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 5px 20px;	
    transition: all 0.5s;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white
      
    
  }

  .sub_btn:hover{
    cursor: pointer;
    border-color: black;
    color:black;
    background-color: white;
    
    }

  .footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
  }
  
  .footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer_link_wrapper {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 225px 250px 250px; */
    align-items: start;
    font-size: 18px;
    justify-content: space-between;
    
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 225px;
    box-sizing: border-box;
  }
  
  .footer-link-items h2 {
    margin-bottom: 16px;
  }
  
  .footer-link-items > h2 {
    color: #fff;
  }
  
  .footer-link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer-link-items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
  }
  
  .footer-email-form h2 {
    margin-bottom: 2rem;
  }
  
  .footer-input::placeholder {
    color: #b1b1b1;
  }

  .input_areas{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 15px;
  }
  
  /* Social Icons */
  .social-icon-link {
    color: #fff;
    font-size: 24px;
  }
  
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .website-rights {
    color: #fff;
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 800px) {

    .footer_link_wrapper{
      grid-template-rows: repeat(auto-fill, 25%);
      grid-auto-flow:row;
      justify-content: center;
    }
    .footer-links {
      padding-top: 2rem;
    }

    .footer-link-items{
      align-items: center;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
